
table.briefings {
    border-collapse: collapse;
    border-spacing: 20px 5px;
    border: 0;
    margin-left: 25px;
    margin-top: 25px;
    table-layout: fixed;
    width: 85%;
    text-wrap: wrap;
}

th, td {
    padding: 2px 5px 15px 5px;
}